   <!-- Details View -->
   {{>header}}

     <div class="container home some">
    <img class="det-img" src={{idea.imageURL}} />

    <div class="desc">
      <h2 class="display-5">{{idea.title}}</h2>
      <p class="infoType">Description:</p>
      <p class="idea-description">{{idea.description}}</p>
      <p class="infoType">Likes: <large>{{idea.likes}}</large>
      </p>
      <p class="infoType">Comments:</p>

      {{#each idea.comments}}
      <ul>
        <li class="comment">{{this}}</li>       
      </ul>
      {{else}}
      <ul>
          <li class="comment">No comments yet :(</li>
      </ul>
      {{/each}}
    </div>

    {{#if loggedInUesrIsCreator}}
    <div class="text-center">
      <a class="btn detb" href="#/idea/delete/{{idea.id}}">Delete</a>
    </div>
    {{else}}
    <form class="text-center" method="Post" action="#/idea/comment/{{idea.id}}">
      <textarea class="textarea-det" name="newComment" id=""></textarea>
      <button type="submit" class="btn detb" >Comment</button>
      <a class="btn detb" href="#/idea/like/{{idea.id}}">Like</a>
    </form>
    {{/if}}
  </div>

    {{>footer}}
    <!-- ./Details View (Become a donor) -->